<div class="container-fluid">
  <form>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Genere</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Relesed</label>
      <input type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label>Length</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Rank</label>
      <input type="number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
